@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap");

:root {
  /* Color Palette - Easy to customize */
  --bg-color: #000000;
  --text-color: #ffffff;

  /* Typography */
  /* Font families */
  --heading-font: "Inter", sans-serif;
  --subheading-font: "Quicksand", sans-serif;
  --content-font: "Open Sans", sans-serif;

  /* Font Weights */
  --heading-bold: 700;
  --project-keywords: 500;
  --project-container-titles: 300;
  --content: 300;
}

.homepage-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.homepage-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
