@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap");

:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --border-color: rgba(255, 255, 255, 0.669);
  --secondary-color: #a49ce0;
  --hover-color: #3d479c;

  --heading-font: "Inter", sans-serif;
  --subheading-font: "Quicksand", sans-serif;
  --content-font: "Open Sans", sans-serif;

  --border-radius: 10px;
  --pg-margin: 5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: var(--pg-margin);
  font-family: var(--content-font);
}

.about-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  gap: var(--pg-margin);
}

/* Left Section */
.introduction-section {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.introduction-section > * {
  flex-shrink: 0;
}

.pg-title {
  border: 1px dashed var(--border-color);
  border-radius: var(--border-radius);
}

.pg-title h1 {
  font-family: var(--heading-font);
  font-size: 2rem;
  font-weight: 700;
}

.introduction-text {
  margin-bottom: 1rem;
  line-height: 1.6;
  font-weight: 300;
}

.main-image img {
  width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px dashed var(--border-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.contact {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px;
  overflow: visible;
  transition: transform var(--transition-medium);
  height: 40px;
}

.contact img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
  object-fit: contain;
  max-width: none; /* Ensures image isn't constrained by width */
}

.contact:hover {
  transform: scale(1.02);
}

.contact .default-logo,
.contact .hover-logo {
  transition: opacity var(--transition-medium);
}

.contact .default-logo {
  z-index: 2;
}

.contact .hover-logo {
  z-index: 1;
  opacity: 0;
}

.contact:hover .default-logo {
  opacity: 0;
}

.contact:hover .hover-logo {
  z-index: 2;
  opacity: 1;
}

/* Right Section */
.resume-gallery-section {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 1.25rem; */
}

.side-image-container {
  height: 55%;
  position: relative;
  margin-bottom: 1.25rem;
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 5%;
}

.button {
  flex: 1;
  padding: 1.2rem;
  border: 1px dashed var(--border-color);
  border-radius: var(--border-radius);
  background: transparent;
  color: var(--text-color);
  font-family: var(--subheading-font);
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--secondary-color);
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  width: 90vw;
  height: 75vh;
  background-color: var(--bg-color);
  border: 0.01px solid var(--text-color);
  margin: 10% auto;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  overflow-y: auto;
  color: white;
}

.modal-content::-webkit-scrollbar {
  width: 8px;
}

.modal-content::-webkit-scrollbar-track {
  background: #bacbf1;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: white;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  flex-shrink: 0;
}

.resume-header h1 {
  font-size: 2rem;
  font-family: var(--heading-font);
}

.resume-content {
  padding: 20px;
  color: var(--text-color);
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  flex-shrink: 0;
}

.resume-header h1 {
  font-size: 2rem;
  font-family: var(--heading-font);
}

.download-btn {
  padding: 0.75rem 1.5rem;
  background-color: var(--hover-color);
  color: var(--text-color);
  border: 0.1px dashed var(--text-color);
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--subheading-font);
  transition: background-color 0.3s;
}

.download-btn:hover {
  background-color: var(--secondary-color);
}

.resume-sections-container {
  display: flex;
  gap: 20px;
  position: relative;
  margin-bottom: 1rem;
  overflow-x: hidden;
  width: 100%;
  height: 600px;
  flex-shrink: 0;
}

.resume-section {
  flex: 1;
  border: 1px dashed var(--border-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 100%;
  height: 500px;
}

.resume-section h2 {
  font-family: var(--subheading-font);
  color: var(--secondary-color);
  padding: 1rem;
  margin: 0;
  border-bottom: 1px dashed var(--border-color);
}

.section-content {
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
}

.resume-section p {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.section-content {
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  word-wrap: break-word;
  width: 100%;
  box-sizing: border-box;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 25px;
}

.grid-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid-item {
  position: relative;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  break-inside: avoid;
  margin-bottom: 16px;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.grid-item:hover img {
  transform: scale(1.03);
}

/* Responsive Design */
@media screen and (max-width: 1000px) {
  .about-container {
    margin-top: 5%;
  }
  .introduction-text {
    margin-bottom: 1rem;
    line-height: 1.3;
  }

  .side-image-container {
    height: 500px;
    margin-bottom: 1rem;
  }

  .buttons-container {
    gap: 0.75rem;
  }

  .button {
    flex: 1;
    padding: 0.9rem;
    font-size: 1.2rem;
  }

  .contact-links {
    padding: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .contact img {
    height: 85%;
    width: auto;
    object-fit: contain;
  }

  .modal-content {
    width: 80vw;
    height: 75vh;
    margin: 10% auto;
    overflow-x: hidden;
  }

  .resume-sections-container {
    gap: 20px;
    padding: 20px;
    margin-bottom: 0;
  }
  .resume-header {
    padding: 20px;
  }

  .resume-header h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .introduction-section,
  .resume-gallery-section {
    width: 100%;
  }

  .modal-content {
    width: 80vw;
    height: 75vh;
    margin: 10% auto;
    overflow-x: hidden;
  }

  .resume-content {
    height: auto;
    padding: 10px;
    overflow-x: none;
  }

  .resume-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    padding-bottom: 2rem;
    flex-shrink: 0;
    gap: 15px;
    text-align: center;
    margin-bottom: 1rem;
  }

  .resume-section h2 {
    text-align: center;
  }

  .resume-sections-container {
    flex-direction: column;
    height: auto;
    overflow-x: none;
    display: flex;
    gap: 20px;
    position: relative;
    width: 95%;
    margin-bottom: 1.2rem;
  }

  .resume-section {
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  .resume-section h2 {
    padding: 0.8rem;
  }

  .resume-section p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }

  .side-image-container {
    height: 200px;
    margin-bottom: 1rem;
  }

  .buttons-container {
    gap: 0.65rem;
    height: 2%;
  }

  .button {
    flex: 1;
    padding: 0.8rem;
    font-size: 1.2rem;
  }

  .contact-links {
    padding: 0.8rem;
    margin-bottom: 2rem;
  }

  .contact img {
    height: 75%;
    width: auto;
    object-fit: contain;
  }

  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .introduction-section,
  .resume-gallery-section {
    width: 100%;
  }
  .introduction-section {
    width: 100%;
    margin-bottom: 5rem;
    position: relative;
  }

  .pg-title h1 {
    font-size: 2.2rem;
  }

  .introduction-text {
    margin-bottom: 1.5rem;
    line-height: 1.5;
  }

  .resume-section {
    height: 300px;
  }

  .resume-content {
    height: auto;
    padding: 10px;
  }

  .main-image {
    width: 100%;
    position: relative;
    z-index: 1;
  }

  .side-image-container {
    height: 200px;
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
    margin-top: 3.5rem;
    clear: both;
  }

  .buttons-container {
    gap: 0.65rem;
    height: 2%;
  }

  .button {
    flex: 1;
    padding: 0.8rem;
    font-size: 1.2rem;
  }

  .contact-links {
    padding: 0.8rem;
    margin-bottom: 2rem;
  }

  .contact img {
    height: 75%;
    width: auto;
    object-fit: contain;
  }
  .image-grid {
    grid-template-columns: 1fr;
  }

  .resume-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    padding-bottom: 2rem;
    flex-shrink: 0;
  }

  .resume-section h2 {
    text-align: center;
  }

  .resume-sections-container {
    display: flex;
    gap: 20px;
    position: relative;
    margin-bottom: 1.2rem;
  }

  .resume-section {
    display: flex;
    flex-direction: column;
  }

  .resume-section h2 {
    padding: 0.8rem;
  }

  .resume-section p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
}
